@import url('https://fonts.googleapis.com/css?family=Raleway:300');
title {
   margin: 3em;
   width: 70%;
}
body {
   font-family: 'Raleway', sans-serif;
   margin: 60px auto;
   width: 80%;
   background-color: #f9f9f9
}
loading-overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  transition: 1s 0.4s;
}
loading-progress{
  height:2px;
  background:#e44d4d;
  position:absolute;
  width:0;
  top:0;
}
loading-progstat{
  display: none
}
nav ul, footer ul {
    font-family: 'Raleway', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #e44d4d;
}
a:hover {
    text-decoration: blink;
    color: #c54343
}
h1 {
    font-family: 'Raleway', sans-serif;
    Font-size: 64px;
    color: #e44d4d;
}
p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #000;
    padding-bottom: 100px 
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
